.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    min-height: 100vh;
}

.desktopContainer {
    display: none;
    flex-direction: row;
    width: 100%;
    gap: 2.5rem;
    align-items: flex-start;
    height: 100%;
    visibility: hidden;
}

.mobileContainer {
  height: 100%;
  width: 100%;
}

@media (min-width: 1000px) {
  .mobileContainer {
    display: none; 
  }
}

@media (min-width: 1000px) {
    .desktopContainer {
        display: flex;
        visibility: visible;
    }
}