.modelContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 0.5rem; 
  margin-bottom: 1rem; 
}

.modelSelectWrapper {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  border-color: #d1d5db; 
  word-wrap: break-word; 
}

.select {
  border: 1px solid #d1d5db; 
  border-radius: 0.5rem; 
  padding: 0.25rem 0.5rem; 
  font-size: 0.875rem; 
  background-color: hsl(var(--background, #fff));
  color: hsl(var(--foreground, #000)); 
  width: fit-content;
  word-wrap: break-word;
}

@media (max-width: 900px) {
  .select {
    width: 150px;
  }
}
